@import '../../assets/css/mixin.scss';
.menu{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -111111;
  will-change: transform;
  height: 100%;
  overflow: hidden;
}
.menu-open{
  z-index: 1;
}
.menu-mask{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 1;
  @include transition(all,0.2s,ease-out)
}
.menu-open .menu-mask{
  @include bg-color(rgba(0,0,0,.4));
}
.menu-content{
  position: fixed;
  width:84%;
  top:0;
  bottom:0;
  z-index: 3;
  @include bg-color(#fff);
  font-size: .427rem;
  transform: translate3d(-100%,0,0);
  @include  transition(all,0.15s,ease-out);
}
.menu-open .menu-content{
  transform: translate3d(0,0,0);
}
.menu-content .menu-title{
  height: 4.444rem;
  @include bg-full;
  @include bg-url('../../assets/img/menu/aip.png');
  @include bg-color(var(--THEME));
  opacity: .8;
}
.menu-content .menu-item .go{
  width: .5555rem;
  height: .9259rem;
  @include bg-url('../../assets/img/aa7.png');
  @include bg-full($s: 30px, $p: center right);
}