@import '../../../assets/css/mixin.scss';
.menu-item{
  @include flex;
  box-sizing: border-box;
  padding:.278rem;
  justify-content: space-between;
  width: 100%;
  height: 1.51rem;
  border-bottom: 1px solid #777;

  .go{
    width: .5555rem;
    height: .9259rem;
    @include bg-url('../../../assets/img/aa7.png');
    @include bg-full($s: 30px, $p: center right);
  }
}
.menu-item-name{
  align-self: center;
}