@import "./var.scss";
@import "./reset.scss";

:root {
  --THEME: var(--THEME-CONTROL, #e5473c);
}
#root > div:nth-child(2) {
  box-sizing: border-box;
  padding-top: 1.48rem;
}
* {
  box-sizing: border-box;
}
.hidden {
  overflow: hidden;
}
div,
input,
button,
li {
  text-align: center;
}
.zzz {
  text-align: right;
}
.layer-low {
  z-index: -1;
}
