@import './var.scss';
@import './reset.scss';

:root{
  --THEME:#e5473c
}
#root>div{
  box-sizing: border-box;
  padding-top: 1.48rem;
}
.hidden{
  overflow: hidden;
}
div,input,button,li{
  text-align: center;
}
.zzz{
  z-index: 0;
  text-align: right;
}