@import './var.scss';


@mixin bg-url($url) {
  background-image: url($url)
}
@mixin bg-full($p:center,$r:no-repeat,$s:contain) {
  background-position: $p;
  background-repeat: $r;
  background-size: $s;
}
@mixin bg-color($color) {
  background-color: $color;
}



@mixin flex{
  display: flex;
  display: -webkit-flex;
  display:-ms-flexbox;
}

@mixin transition($type,$time,$func){
  transition: $type $time $func;
  -moz-transition: $type $time $func;
  -webkit-transition: $type $time $func;
  -o-transition: $type $time $func;
  -ms-transition: $type $time $func;
}